/* Navbar Styles */
/* Navbar Styles */
.navbar {
    background-color: #ffffff; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    padding: 10px 0; /* Adjust padding as needed */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.navbar a {
    color: #fff; /* Change link text color as needed */
    text-decoration: none;
}

.navbar a:hover {
    color: #252525; /* Change link text color on hover as needed */
}

.navbar a.username {
    color:  #f28920; /* Change the color of the username as needed */
}

/* Hover color for the username */
.navbar a.username:hover {
    color: #231e54  ; /* Change the hover color of the username as needed */
}

.logo-container {
    position: absolute;
    top: -10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
}

.logo {
    padding: 0px;
    border-radius: 50%;
    margin-top: -9%;
    left: 10%;
}

.ocdt {
    position: absolute;
    top: 2%; /* Adjust the top position as needed */
    left: 6%; /* Adjust the left position as needed */
    width: 50%; /* Adjust the width as needed */
    font-size: 1.6vw; /* Adjust the font size as needed */
    color: #000000;
    z-index: 1031;
    /* Add more styles as needed */
}

/* General styling */
.navbar .sidebar-list {
    padding: 0;
    margin: 0; /* Remove default margin */
    list-style-type: none; /* Remove default list styles */
}

.nav-item {
    display: block;
    color: #fff; /* Default text color of navigation items */
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
}

.nav-item.active {
    background-color: #ffa722; /* Background color of active navigation item */
}

.icon-field {
    margin-right: 10px;
}

/* Specific color for each navigation item */
.nav-home {
    color: #ffcc00; /* Color for the "Home" navigation item */
}

.nav-files {
    color: #66ccff; /* Color for the "Files" navigation item */
}

.nav-users {
    color: #ff6666; /* Color for the "Users" navigation item */
}


/* Box 1 */
.custom-card.info {
    background-color: #111b58; /* Example: Info color */
    color: white; /* Set text color to white */
    width: 220px; /* Custom width for Info card */
    height: 150px; /* Custom height for Info card */
    left: -32px;
    top: 8px;
}

/* Box 2 */
.custom-card.primary {
    background-color: #11b9d6; /* Example: Primary color */
    color: white; /* Set text color to white */
    width: 220px; /* Custom width for Primary card */
    height: 150px; /* Custom height for Primary card */
    top: 8px;
}


/* custome color */

/* Custom styles for the action button */
.custom-action-btn-main {
    background-color:  #f28920; /* Example color */
    color: white; /* Example text color */
}

/* Custom styles for the dropdown toggle button */
.custom-action-btn-toggle {
    background-color: #f28920; /* Example color */
    color: white; /* Example text color */
}
